<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <title>{{title}}</title>
  <meta name="format-detection" content="telephone=no" />
  <meta name="description" content="{{ description or meta.description or '' }}" />
  <meta property="og:locale" content="ja_JP" />
  <meta property="og:type" content="{{ og_type or 'article' }}" />
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:description" content="{{ description or meta.description or '' }}" />
  <meta property="og:url" content="{{ meta.home_url }}" />
  <meta property="og:site_name" content="{{ meta.site_name }}" />
  {% if meta.home_url -%}
  <meta property="og:image"
    content="{{ meta.home_url|urlJoin(og_image or meta.og_image or '/assets/images/ogp.png') }}" />
  {%- endif %}
  <meta name="twitter:card" content="summary_large_image" />
  {% if meta.twitter_site -%}
  <meta name="twitter:site" content="{{ meta.twitter_site or '' }}" />
  {%- endif -%}
  <link rel="canonical" href="{{ meta.home_url|urlJoin(canonical or '/') }}" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="icon" href="/assets/favicon.svg" type="image/svg+xml" />
  <link rel="icon" href="/assets/favicon-32.png" sizes="32x32" />
  <link rel="icon" href="/assets/favicon-192.png" sizes="192x192" />
  <link rel="apple-touch-icon" href="/assets/apple-touch-icon.png" />
  <meta name="msapplication-TileImage" content="/assets/favicon-270.png" />
  {%- for fontUrl in meta.webFonts %}
  <link rel="preload" as="style" href="{{ fontUrl }}" />
  {%- endfor %}
  <link rel="preload" as="style" href="{{ '/assets/main.css' | cacheBuster }}" />
  {%- for fontUrl in meta.webFonts %}
  <link rel="stylesheet" href="{{ fontUrl }}" />
  {%- endfor %}
  <link rel="stylesheet" href="{{ '/assets/main.css' | cacheBuster }}" />
  <script type="module" src="{{ '/assets/main.js' | cacheBuster }}"></script>
</head>

<body>
  {{ content | safe }}
</body>

</html>
